{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>南觀×難關×喃倌</h2>
    <p>南方的觀點<br>難解的關卡<br>自嗨的公僕</p>
    <p>您可以在</p>
    <ul>
        <li><a href="blog.html">Blog</a> 發現犯罪少年矯正工作的歷史足跡</li>
        <li><a href="picstory.html">PicStory</a> 解析每張圖片發人省思的故事</li>
        <li>Thoughts 窺探少年矯正人員的murmur</li>
    </ul>
    <p>聯絡請來信到：gs.locale@gmail.com</p>
    <p>在 Threads 上關注我</p>
    <hr>
    <p style="font-size: 0.9em; color: #888;">本站所有文章未經書面授權，請勿任意利用、引用、轉載。</p>
</div>
{% endblock %}